<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HL7Broker.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />         
        </sectionGroup>
    </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ShieldsAppsSOAP" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="999999" maxBufferPoolSize="999999" maxReceivedMessageSize="999999"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="999999" maxStringContentLength="999999" maxArrayLength="999999"
              maxBytesPerRead="999999" maxNameTableCharCount="999999" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://shcapp2.shc.shcnet.pri/Staging/WSShieldsApps/ShieldsApps.svc/ShieldsApps"
        binding="basicHttpBinding" bindingConfiguration="ShieldsAppsSOAP"
        contract="IShieldsApps" name="ShieldsAppsSOAP" />
    </client>
  </system.serviceModel>
    <userSettings>
        <HL7Broker.Config>
            <setting name="MaxDegreeOfParallelism" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsDebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IP_ADDRESS" serializeAs="String">
                <value>172.31.1.68</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </HL7Broker.Config>      
    </userSettings>
</configuration>